In [1]:
#importing necessary lib
import requests
from bs4 import BeautifulSoup

In [2]:
#fetching IDBM URL
source = 'https://www.imdb.com/list/ls091520106/'

In [3]:
r = requests.get(source)
htmlContent= r.content
soup= BeautifulSoup(htmlContent,'html.parser')

In [27]:
#to get the text with proper indentation 
#print(soup.prettify)

In [28]:
#to get the text without any tags
#print(soup.get_text())

In [6]:
#page title
title = soup.title
print(title)

<title>Top 100 Movies Bucket List - IMDb</title>

In [15]:
#fetching all the movie details
movies = soup.find_all ('div',class_='lister-item-content')

In [29]:
#print(movies)

In [17]:
#fetching 1st movie details
first_movie= movies[0]
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>

In [18]:
#first movie name
first_movie.h3.a.text

'The Shawshank Redemption'

In [19]:
#first movie release year
first_movie.find('span',class_='lister-item-year text-muted unbold').text

'(1994)'

In [20]:
#first movie rating
first_movie.find('span',class_='ipl-rating-star__rating').text

'9.3'

In [22]:
#fetching movie name, year of release, rating for all the 100 movies
Name = []  
IDBM_rating = []
year = []
for i in movies:
    Name.append(i.h3.a.text)
    IDBM_rating.append(i.find('span',class_='ipl-rating-star__rating').text)
    year.append(i.find('span',class_='lister-item-year text-muted unbold').text)

In [23]:
#creating dataframe
data = list(zip(Name,IDBM_rating,year))

In [24]:
import pandas as pd
df = pd.DataFrame(data,columns=['Name','IDBM_rating','year'])

In [25]:
df.head()

                       Name IDBM_rating    year
0  The Shawshank Redemption         9.3  (1994)
1             The Godfather         9.2  (1972)
2    The Godfather: Part II           9  (1974)
3           The Dark Knight           9  (2008)
4              12 Angry Men           9  (1957)

In [26]:
df.tail()

                                   Name IDBM_rating    year
95                   North by Northwest         8.3  (1959)
96                   A Clockwork Orange         8.3  (1971)
97                               Snatch         8.3  (2000)
98  Le fabuleux destin d'Amélie Poulain         8.3  (2001)
99                              The Kid         8.3  (1921)