In [1]:
#importing necessary lib
import requests
from bs4 import BeautifulSoup

In [2]:
#fetching IDBM URL for hindi movies
source = 'https://www.imdb.com/list/ls009997493/'

In [3]:
r = requests.get(source)
htmlContent= r.content
soup= BeautifulSoup(htmlContent,'html.parser')

In [26]:
#print(soup.prettify)

In [27]:
#print(soup.get_text())

In [6]:
#page title
title = soup.title
print(title)

<title>IMDB Top 100 Hindi Movies - IMDb</title>

In [23]:
#fetching all the movie details
movies = soup.find_all ('div',class_='lister-item-content')

In [28]:
#print(movies)

In [25]:
#fetching 1st movie details
first_movie= movies[0]
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0405508/">Rang De Basanti</a>
<span class="lister-item-year text-muted unbold">(2006)</span>
</h3>

In [10]:
#first movie name
first_movie.h3.a.text

'Rang De Basanti'

In [11]:
#first movie release year
first_movie.find('span',class_='lister-item-year text-muted unbold').text

'(2006)'

In [16]:
first_movie.find('span',class_='ipl-rating-star__rating')

In [17]:
#first movie rating
first_movie.find('span',class_='ipl-rating-star__rating').text

'8.1'

In [18]:
#fetching movie name, year of release, rating for all the 100 movies
Name = []  
IDBM_rating = []
year = []
for i in movies:
    Name.append(i.h3.a.text)
    IDBM_rating.append(i.find('span',class_='ipl-rating-star__rating').text)
    year.append(i.find('span',class_='lister-item-year text-muted unbold').text)

In [19]:
#creating dataframe
data = list(zip(Name,IDBM_rating,year))

In [20]:
import pandas as pd
df = pd.DataFrame(data,columns=['Name','IDBM_rating','year'])

In [21]:
df.head()

                     Name IDBM_rating    year
0         Rang De Basanti         8.1  (2006)
1                3 Idiots         8.4  (2009)
2        Taare Zameen Par         8.4  (2007)
3          Dil Chahta Hai         8.1  (2001)
4  Swades: We, the People         8.2  (2004)