In [1]:
import requests
from bs4 import BeautifulSoup

In [12]:
# URL of ODI ranking of batsmen
source = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

In [13]:
page = requests.get(source)

In [14]:
page

In [15]:
htmlContent= page.content

In [12]:
#htmlContent

In [17]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [13]:
#print(soup.prettify())

In [21]:
#fetching name of top batsmen
top_batsmen = soup.find('div', class_='rankings-block__banner--name-large').text
top_batsmen

'Babar Azam'

In [24]:
#fetching team name batsmen is playing for
top_batsmen_team = soup.find('div', class_='rankings-block__banner--nationality').text.replace('\n',' ').strip(' ')
top_batsmen_team

'PAK'

In [31]:
#fetching ODI ranking of the top batsmen
top_batsmen_rating = soup.find('div', class_='rankings-block__banner--rating').text
top_batsmen_rating

'873'

In [14]:
#fetching name of next top batsmen
rest_top_batsmen = soup.find_all('td', class_='table-body__cell rankings-table__name name')

In [34]:
ODI_batsmen = []
for i in range(0,9):
    ODI_batsmen.append(rest_top_batsmen[i].get_text().replace("\n",""))
ODI_batsmen

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [35]:
ODI_batsmen.insert(0, "'Babar Azam'")
ODI_batsmen

["'Babar Azam'",
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [45]:
#fetching team name of the next top batsmen
rest_team = soup.find_all('span', class_='table-body__logo-text')

In [37]:
ODI_team = []
for i in range(0,9):
    ODI_team.append(rest_team[i].get_text().replace("\n",""))
ODI_team

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [38]:
ODI_team.insert(0, 'PAK')
ODI_team

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [43]:
#fetching rating of the next top batsmen
rating = soup.find_all('td', class_='table-body__cell rating')

In [41]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['844', '813', '801', '779', '775', '762', '758', '754', '747']

In [42]:
ODI_rating.insert(0, "873")
ODI_rating

['873', '844', '813', '801', '779', '775', '762', '758', '754', '747']

In [47]:
#creating dataframe
data = list(zip(ODI_batsmen,ODI_team,ODI_rating))

In [49]:
import pandas as pd
df = pd.DataFrame(data,columns=['ODI_batsmen','ODI_team','ODI_rating'])

In [50]:
df.head(10)

       ODI_batsmen ODI_team ODI_rating
0     'Babar Azam'      PAK        873
1      Virat Kohli      IND        844
2     Rohit Sharma      IND        813
3      Ross Taylor       NZ        801
4      Aaron Finch      AUS        779
5   Jonny Bairstow      ENG        775
6     David Warner      AUS        762
7        Shai Hope       WI        758
8  Kane Williamson       NZ        754
9  Quinton de Kock       SA        747