In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
source = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'

In [3]:
page = requests.get(source)

In [4]:
page

In [5]:
htmlContent= page.content

In [25]:
#htmlContent

In [7]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [26]:
#print(soup.prettify())

In [9]:
women_best_bowling = soup.find('div', class_='rankings-block__banner--name-large').text
women_best_bowling

'Jess Jonassen'

In [10]:
women_team = soup.find('div', class_='rankings-block__banner--nationality').text.replace('\n',' ').strip(' ')
women_team

'AUS'

In [11]:
women_bowling_rating = soup.find('div', class_='rankings-block__banner--rating').text
women_bowling_rating

'808'

In [27]:
rest_women_player = soup.find_all('td', class_='table-body__cell rankings-table__name name')

In [13]:
ODI_best_women_balling = []
for i in range(0,9):
    ODI_best_women_balling.append(rest_women_player[i].get_text().replace("\n",""))
ODI_best_women_balling

['Megan Schutt',
 'Marizanne Kapp',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Katherine Brunt',
 'Ayabonga Khaka',
 'Poonam Yadav',
 'Ellyse Perry']

In [14]:
ODI_best_women_balling.insert(0, "Jess Jonassen")
ODI_best_women_balling

['Jess Jonassen',
 'Megan Schutt',
 'Marizanne Kapp',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Katherine Brunt',
 'Ayabonga Khaka',
 'Poonam Yadav',
 'Ellyse Perry']

In [15]:
rest_team = soup.find_all('span', class_='table-body__logo-text')

In [16]:
ODI_team = []
for i in range(0,9):
    ODI_team.append(rest_team[i].get_text().replace("\n",""))
ODI_team

['AUS', 'SA', 'SA', 'IND', 'ENG', 'ENG', 'SA', 'IND', 'AUS']

In [17]:
ODI_team.insert(0, 'AUS')
ODI_team

['AUS', 'AUS', 'SA', 'SA', 'IND', 'ENG', 'ENG', 'SA', 'IND', 'AUS']

In [18]:
rating = soup.find_all('td', class_='table-body__cell rating')

In [19]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['762', '747', '717', '694', '668', '646', '638', '617', '616']

In [20]:
ODI_rating.insert(0, "808")
ODI_rating

['808', '762', '747', '717', '694', '668', '646', '638', '617', '616']

In [21]:
data = list(zip(ODI_best_women_balling,ODI_team,ODI_rating))

In [23]:
import pandas as pd
df = pd.DataFrame(data,columns=['ODI_best_women_balling','ODI_team','ODI_rating'])

In [24]:
df.head(10)

  ODI_best_women_balling ODI_team ODI_rating
0          Jess Jonassen      AUS        808
1           Megan Schutt      AUS        762
2         Marizanne Kapp       SA        747
3         Shabnim Ismail       SA        717
4         Jhulan Goswami      IND        694
5      Sophie Ecclestone      ENG        668
6        Katherine Brunt      ENG        646
7         Ayabonga Khaka       SA        638
8           Poonam Yadav      IND        617
9           Ellyse Perry      AUS        616