In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
source = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [3]:
page = requests.get(source)

In [4]:
page

In [5]:
htmlContent= page.content

In [26]:
#htmlContent

In [7]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [27]:
#print(soup.prettify())

In [28]:
team = soup.find_all('span', class_='u-hide-phablet')

In [10]:
ODI_team = []
for i in range(0,10):
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [11]:
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches

'18'

In [12]:
team1_points = soup.find('td', class_='rankings-block__banner--points').text
team1_points

'2,955'

In [13]:
team1_rating = soup.find('td', class_='rankings-block__banner--rating u-text-right').text.replace('\n'," ").strip(' ')
team1_rating

'164'

In [29]:
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')

In [15]:
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match

['26', '20', '23', '21', '19', '20', '5', '11', '2']

In [16]:
ODI_match.insert(0, "17")
ODI_match

['17', '26', '20', '23', '21', '19', '20', '5', '11', '2']

In [17]:
ODI_points = []
for i in range(1,18,2):
    ODI_points.append(aditional_info[i].get_text().replace("\n",""))
ODI_points

['3,095', '2,370', '2,535', '1,947', '1,563', '1,496', '306', '519', '25']

In [18]:
ODI_points.insert(0, "2,054")
ODI_points

['2,054',
 '3,095',
 '2,370',
 '2,535',
 '1,947',
 '1,563',
 '1,496',
 '306',
 '519',
 '25']

In [19]:
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')
rating

[<td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">110</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell u-text-right rating">82</td>,
 <td class="table-body__cell u-text-right rating">75</td>,
 <td class="table-body__cell u-text-right rating">61</td>,
 <td class="table-body__cell u-text-right rating">47</td>,
 <td class="table-body__cell u-text-right rating">13</td>]

In [21]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['119', '119', '110', '93', '82', '75', '61', '47', '13']

In [22]:
ODI_rating.insert(0, "121")
ODI_rating

['121', '119', '119', '110', '93', '82', '75', '61', '47', '13']

In [23]:
data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating))

In [24]:
import pandas as pd
df = pd.DataFrame(data,columns=['ODI_team','ODI_match','ODI_points','ODI_rating'])

In [25]:
df.head(10)

       ODI_team ODI_match ODI_points ODI_rating
0     Australia        17      2,054        121
1  South Africa        26      3,095        119
2       England        20      2,370        119
3         India        23      2,535        110
4   New Zealand        21      1,947         93
5   West Indies        19      1,563         82
6      Pakistan        20      1,496         75
7    Bangladesh         5        306         61
8     Sri Lanka        11        519         47
9       Ireland         2         25         13