In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
source = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [3]:
page = requests.get(source)

In [4]:
page

In [5]:
htmlContent= page.content

In [46]:
#htmlContent

In [7]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [47]:
#print(soup.prettify())

In [28]:
women_best_player = soup.find('div', class_='rankings-block__banner--name-large').text
women_best_player

'Mithali Raj'

In [26]:
women_team = soup.find('div', class_='rankings-block__banner--nationality').text.replace('\n',' ').strip(' ')
women_team

'IND'

In [27]:
women_batting_rating = soup.find('div', class_='rankings-block__banner--rating').text
women_batting_rating

'762'

In [48]:
rest_women_player = soup.find_all('td', class_='table-body__cell rankings-table__name name')

In [31]:
ODI_women_player = []
for i in range(0,9):
    ODI_women_player.append(rest_women_player[i].get_text().replace("\n",""))
ODI_women_player

['Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt']

In [33]:
ODI_women_player.insert(0, "Mithali Raj")
ODI_women_player

['Mithali Raj',
 'Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt']

In [34]:
rest_team = soup.find_all('span', class_='table-body__logo-text')

In [35]:
ODI_team = []
for i in range(0,9):
    ODI_team.append(rest_team[i].get_text().replace("\n",""))
ODI_team

['SA', 'AUS', 'ENG', 'WI', 'AUS', 'NZ', 'ENG', 'IND', 'SA']

In [36]:
ODI_team.insert(0, 'IND')
ODI_team

['IND', 'SA', 'AUS', 'ENG', 'WI', 'AUS', 'NZ', 'ENG', 'IND', 'SA']

In [38]:
rating = soup.find_all('td', class_='table-body__cell rating')

In [39]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['758', '756', '754', '736', '723', '715', '706', '701', '683']

In [40]:
ODI_rating.insert(0, "762")
ODI_rating

['762', '758', '756', '754', '736', '723', '715', '706', '701', '683']

In [41]:
data = list(zip(ODI_women_player,ODI_team,ODI_rating))

In [44]:
import pandas as pd
df = pd.DataFrame(data,columns=['ODI_women_player','ODI_team','ODI_rating'])

In [45]:
df.head(10)

    ODI_women_player ODI_team ODI_rating
0        Mithali Raj      IND        762
1        Lizelle Lee       SA        758
2       Alyssa Healy      AUS        756
3     Tammy Beaumont      ENG        754
4    Stafanie Taylor       WI        736
5        Meg Lanning      AUS        723
6  Amy Satterthwaite       NZ        715
7     Natalie Sciver      ENG        706
8    Smriti Mandhana      IND        701
9    Laura Wolvaardt       SA        683